td.views-field-syndicator-schedule div.form-option{
  padding: 0 0 10px;
}
td.views-field-syndicator-schedule div.container-inline div{
  display: inline;
}

table.views-table tr.scheduled{
  background-color: #DDFFDD;
}
table.views-table tr.scheduled legend .fieldset-title a{
  color: #668877;
}
table.views-table .fieldset-content .result{
  margin: -10px 0 5px;
}
table.views-table td.views-field-syndicator-schedule{
  width: 299px;
}
