.blockOverlay{
  background-color: #CCCCCC;
  opacity: 0.5;
}
.disabled-field{
  visibility: hidden;
}
form#syndicator-permissions-settings-form legend em{
  padding-left: 10px;
  display: block;
}
form#syndicator-permissions-settings-form fieldset.grouped .fieldset-content{
  padding-top: 12px;
  padding-bottom: 0;
}
